h1::first-letter, 
h2::first-letter, 
h3::first-letter, 
h4::first-letter, 
h5::first-letter, 
h6::first-letter, 
p::first-letter {
    text-transform: uppercase;
}

.home {  
  width: 98%;
  margin: auto;
}
.home-header {
  text-align: center;
  padding: 0px;
  background-color: #f4f4f4;
}

.content-home {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: auto;
 /* box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2), 5px 0 10px rgba(0, 0, 0, 0.2);*/
  /*background-color: #d47d00; /*se va*/
}

/*TITULOS DE NOTICIAS*/
.home-title-news {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  background-color: #002042ef;
  color: #fff;
  padding: 5px 25px;
}

.home-left-column {
  width: 75%;
  /*border: #a52834 1px solid;*/
  margin: 0px auto;
  margin-right: 10px;
  /*box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3); der*/
 /* box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);*/
  /*box-shadow: -5px 0 10px #000c266e, 5px 0 10px #000c2663;*/
}

.home-right-column {
  width: 100%;
  max-width: 25%;
  height: 100vh;
  margin: 0px auto; 
  /*box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);*/
  /*box-shadow: -1px 0 10px #000c2660, 5px 0 10px #000c2657;*/
  /*box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2), 5px 0 10px rgba(0, 0, 0, 0.2);*/
}

.home-news-row, .home-category-news-row {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  padding: 5px;
  background-color: #000c26;
}

.home-news-item, .home-category-news-item {
  width: 23%; /* Ajusta el tamaño para que quepan 4 en una fila */
  padding: 10px;
  background-color: #e0e0e0;
  text-align: center;
}

/*POR CATEGORY - HOME SECCION DE ABAJO*/
.home-featured-category {
  margin: 3% auto;
}

.by-category-grid {
  display: grid;
  width: 100%;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.by-category-section {
  padding: 0px;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.2s;
}

.by-category-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1px;
  background-color: #002042;
  color: #fff;
  padding: 10px 5px;
  text-align: left;
  text-indent: 20px;
  margin: auto;
}

.by-category-row {
  display: flex;
  flex-wrap: wrap;  /* Esto permite que los elementos se acomoden en varias filas */
  gap: 20px;
}

.by-category-item {
  background-color: #f5f5ff;
  padding: 0px 15px;
  border-radius: 8px;
  width: 100%;
  max-width: 300px;  /* Aquí ajustas el tamaño máximo de cada noticia */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;  /* Esto hace que los elementos estén en una sola columna */
  gap: 2px;
}

.by-category-image {
  width: 100%;
  height: 100%;
  margin: auto;
  max-height: 35%;
  border-radius: 3px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.by-category-video {
  width: 100%;
  height: 100%;
  margin: auto;
  max-height: 35%;
  border-radius: 3px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.by-category-subtitle {
  font-size: 14px;
  color: #444;
  margin-top: 10px;
  text-align: justify;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Número máximo de líneas que querés mostrar */
  overflow: hidden;
}
.by-category-text {
  font-size: 12px;
  color: #333;
  margin-top: 10px;
  text-align: justify;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Número máximo de líneas que querés mostrar */
  overflow: hidden;
}

.by-home-ver-mas-btn {
  color: #007bff;
  cursor: pointer;
  margin: 5px 0;
  padding: 3px;
  background-color: #fff;
  border-radius: 5px;
  transition: background-color 0.2s;
  text-align: left;
  font-size: 16px;
}

.by-home-ver-mas-btn:hover {
  background-color: #e9ecef;
}

/*FIN POR CATEGORY*/

.home-latest-news, .home-featured-category, .home-latest-large-news {
  margin-bottom: 20px;
}
.home-latest-news {
  margin-bottom: 20px;
}

.home-last-news-text h5{
  text-align: center;
  margin-top: 5px;
  padding: 5px;
}

.home-last-news-image{
  width: 80%;
height: 50vh;
box-shadow: 0px 4px 10px #002042; /* Sombra con un desplazamiento */
border-radius: 8px; /* Opcional, para darle bordes redondeados */
}

.home-last-news-video{
width: 80%;
height: 50vh;
box-shadow: 0px 4px 10px #002042; /* Sombra con un desplazamiento */
border-radius: 8px; /* Opcional, para darle bordes redondeados */
}

.home-ver-mas-btn{
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
}
.home-ver-mas-btn:hover{
  background-color: transparent;
  color: #ff6500;
}
.home-last-news-content{
  text-align: center;
  margin: auto;
}

.home-last-news-content h3{
  text-align:center;
}

.home-featured-news {
  background-color: #ddd;
  padding: 20px;
}

.home-ad-space, .home-ad-space-between {
  margin: auto;
  background-color: #f0f0f0;
  padding: 0px;
  text-align: center;
  width: 90%;
}
.home-ad-space-between-footer {
  margin: auto;
  background-color: #f0f0f0;
  padding: 0px;
  text-align: center;
  width: 90%;
  margin-top: 3%;
}

.home-lateral-clima{
  height: 260px;
  width: 100%;
  margin: 2% auto;
  max-width: 230px;
  /*border: #000c264b 3px double;*/
}

footer {
  /*background-color: #333;*/
  color: white;
  padding: 10px;
  text-align: center;
}

  /*noticias deslizantes*/
  .marquee-container {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #002042;
   /* padding: 5px 10px;*/
    margin: 10px 0px;
  }
  
  .static-title {
    flex-shrink: 0;
    font-weight: bold;
    font-size: 18px;
    color: white;
    padding-right: 10px;
    background-color: #ff0104;
    padding: 15px 15px;
  }
  
  .marquee-wrapper {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .marquee {
    display: flex;
  white-space: nowrap;
    animation: marquee 30s linear infinite;
    color: white;
    cursor: pointer;
    font-size: 1.1em;
  }
  
  @keyframes marquee {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  /* Cuando el mouse esté sobre el marquee, la animación se pausa */
  .paused .marquee {
    animation-play-state: paused;
  }

  /* fin noticias deslizantes*/

  /*buscador*/
  .buscador-container{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #ff6500;
    width: 95%;
    margin: 5% 1% 0 0.7%;
  }

  .buscador-input{
    width: 100%;
    padding: 3%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 15px 3px;
  }

  .buscador-button{
    padding: 3%;
    background: #002042;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    margin: 15px 3px;
  }

   /* fin buscador*/


   /*ADS FOOTER*/
   .ads-grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin: 20px auto;
    padding: 10px;
  }
  
  .ads-grid-item {
    width: 50px;
    height: 50px;
  }
  
  .ads-grid-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
     /* -------------------------LOADER------------------------- */
  
  .loader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 22%;
  }