h1::first-letter, 
h2::first-letter, 
h3::first-letter, 
h4::first-letter, 
h5::first-letter, 
h6::first-letter, 
p::first-letter {
    text-transform: uppercase;
}

.home {  
  width: 98%;
  margin: auto;
}
.home-header {
  text-align: center;
  padding: 0px;
  background-color: #f4f4f4;
}

.content-home {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: auto;
 /* box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2), 5px 0 10px rgba(0, 0, 0, 0.2);*/
  /*background-color: #d47d00; /*se va*/
}

/*TITULOS DE NOTICIAS*/
.home-title-news {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  background-color: #002042ef;
  color: #fff;
  padding: 5px 25px;
}

.home-left-column {
  width: 75%;
  /*border: #a52834 1px solid;*/
  margin: 0px auto;
  margin-right: 10px;
  /*box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3); der*/
 /* box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);*/
  /*box-shadow: -5px 0 10px #000c266e, 5px 0 10px #000c2663;*/
}

.home-right-column {
  width: 100%;
  max-width: 25%;
  height: 100vh;
  margin: 0px auto; 
  /*box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);*/
  /*box-shadow: -1px 0 10px #000c2660, 5px 0 10px #000c2657;*/
  /*box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2), 5px 0 10px rgba(0, 0, 0, 0.2);*/
}

.home-news-row, .home-category-news-row {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  padding: 5px;
  background-color: #000c26;
}

.home-news-item, .home-category-news-item {
  width: 23%; /* Ajusta el tamaño para que quepan 4 en una fila */
  padding: 10px;
  background-color: #e0e0e0;
  text-align: center;
}

/*POR CATEGORY*/

.by-category-section {
  margin-bottom: 40px;
 /* background-color: yellowgreen; /*se va*/
}

.by-category-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  background-color: #002042ef;
  color: #fff;
  padding: 5px 25px;
}

.by-category-main-news {
  width: 98%;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  padding: 5px;
}

.by-category-main-news p{/*subtitulo*/
  width: 98%;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  padding: 5px;
}

.by-category-news-image {
  width: 80%;
  height: 50vh;
  box-shadow: 0px 4px 10px #002042; /* Sombra con un desplazamiento */
  border-radius: 8px; /* Opcional, para darle bordes redondeados */
  object-fit: cover;
}

.by-category-news-video {
  width: 80%;
  height: 50vh;
  box-shadow: 0px 4px 10px #002042; /* Sombra con un desplazamiento */
  border-radius: 8px; /* Opcional, para darle bordes redondeados */
}

.by-home-ver-mas-btn{
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.by-home-ver-mas-btn:hover{
  background-color: transparent;
  color: #ff6500;
}

.by-category-similares{
  grid-column: span 2;  /* Ocupa las 4 columnas */
  text-align: justify;
  font-size: 1rem;
  font-weight: bold;
  margin: 15px 0;
  padding: 5px 20px;
  border-bottom: 1px solid #002042;
}

.by-category-news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); 
  gap: 15px;
  padding: 5px;  
}

.by-category-news-item {
  background: #f9f9f9;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px #00204263;
  text-align: center;
 /* background-color: #00607d23;*/
  /*border-left: 3px double #000c26ce;  /* Borde izquierdo doble */
  /*border-bottom: 3px double #000c26ce; /* Borde inferior doble */
  padding: 0px; /* Espacio interno para que no quede pegado */
}

.by-category-news-item-link{
  position: relative;
  display: inline-block; /* Para que el subrayado se ajuste al texto */
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 320px;
  text-align: center;
}

.by-category-news-item-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* Ajusta la distancia del subrayado al texto */
  width: 0; /* Comienza sin subrayado */
  height: 2px; /* Grosor del subrayado */
  background-color: red; /* Cambia el color del subrayado */
  transition: width 0.3s ease-in-out; /* Efecto de animación */
}

.by-category-news-item-link:hover::after {
  width: 100%; /* Se expande al 100% al pasar el cursor */
}

.by-category-news-item h4{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 10px;
  width: 95%;
  
}

.by-category-news-image-thumb {
  width: 90%;
  height: 90%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.by-category-news-video-thumb{
  width: 90%;
  height: 90%;
  max-height: 250px;
  border-radius: 5px;
  margin: 0px;
}

/*FIN POR CATEGORY*/
.home-latest-news, .home-featured-category, .home-latest-large-news {
  margin-bottom: 20px;
}
.home-latest-news {
  margin-bottom: 20px;
}

.home-last-news-text h5{
  text-align: center;
  margin-top: 5px;
  padding: 5px;
}

.home-last-news-image{
  width: 80%;
height: 50vh;
box-shadow: 0px 4px 10px #002042; /* Sombra con un desplazamiento */
border-radius: 8px; /* Opcional, para darle bordes redondeados */
}

.home-last-news-video{
width: 80%;
height: 50vh;
box-shadow: 0px 4px 10px #002042; /* Sombra con un desplazamiento */
border-radius: 8px; /* Opcional, para darle bordes redondeados */
}

.home-ver-mas-btn{
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
}
.home-ver-mas-btn:hover{
  background-color: transparent;
  color: #ff6500;
}
.home-last-news-content{
  text-align: center;
  margin: auto;
}

.home-last-news-content h3{
  text-align:center;
}

.home-featured-news {
  background-color: #ddd;
  padding: 20px;
}

.home-ad-space, .home-ad-space-between {
  margin: auto;
  background-color: #f0f0f0;
  padding: 0px;
  text-align: center;
  width: 90%;
}
.home-ad-space-between-footer {
  margin: auto;
  background-color: #f0f0f0;
  padding: 0px;
  text-align: center;
  width: 90%;
  margin-top: 3%;
}

.home-lateral-clima{
  height: 260px;
  width: 100%;
  margin: 2% auto;
  max-width: 230px;
  /*border: #000c264b 3px double;*/
}

footer {
  /*background-color: #333;*/
  color: white;
  padding: 10px;
  text-align: center;
}

/*cintas*/
.home-ribbon {
  display: inline-block;
  background: #00607d;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

/* Puntas dobladas de la cinta */
.home-ribbon::before, .home-ribbon::after {
  content: "";
  position: absolute;
  top: 0;
  border-style: solid;
  border-width: 18px 10px 18px 0;
  border-color: transparent #a52834 transparent transparent;
}

.home-ribbon::before {
  left: -10px;
}

.home-ribbon::after {
  right: -10px;
  border-width: 18px 0 18px 10px;
  border-color: transparent transparent transparent #a52834;
}
/*banner*/
/*.home-banner {
  background: #ff9800;
  color: white;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  width: 95%;
}

.home-banner::before, .home-banner::after {
  content: "";
  position: absolute;
  top: 100%;
  width: 0;
  height: 0;
  border-style: solid;
}

.home-banner::before {
  left: 0;
  border-width: 30px 25px 0 0;
  border-color: #d47d00 transparent transparent transparent;
}

.home-banner::after {
  right: 0;
  border-width: 30px 0 0px 25px;
  border-color: #d47d00 transparent transparent transparent;
}

.home-ribbon-single {
  display: inline-block;
  background: #00607d; /* Color de fondo */
 /* color: white; /* Color del texto */
 /* padding: 5px 10px; /* Espaciado interno */
  /*font-size: 14px;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  margin: 5px 0px 5px 0px;
}

/* Punta de la cinta en un solo lado */
/*.home-ribbon-single::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 70px;
  margin-top: -1px;
  border-style: solid;
  border-width: 10px 15px 0 5px; /* Triángulo */
 /* border-color: #00607d transparent transparent transparent; /* Color igual al fondo pero más oscuro */
/*}*/
  
  /* -------------------------LOADER------------------------- */
  
  .loader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 22%;
  }

  /*noticias deslizantes*/
  .marquee-container {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #002042;
   /* padding: 5px 10px;*/
    margin: 10px 0px;
  }
  
  .static-title {
    flex-shrink: 0;
    font-weight: bold;
    font-size: 18px;
    color: white;
    padding-right: 10px;
    background-color: #ff0104;
    padding: 15px 15px;
    /*border-radius: 5px;*/
  }
  
  .marquee-wrapper {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .marquee {
    display: flex;
  white-space: nowrap;
    animation: marquee 30s linear infinite;
    color: white;
    cursor: pointer;
    font-size: 1.1em;
  }
  
  @keyframes marquee {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  /* Cuando el mouse esté sobre el marquee, la animación se pausa */
  .paused .marquee {
    animation-play-state: paused;
  }

  /* fin noticias deslizantes*/

  /*buscador*/
  .buscador-container{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #ff6500;
    width: 95%;
    margin: 5% 1% 0 0.7%;
  }

  .buscador-input{
    width: 100%;
    padding: 3%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 15px 3px;
  }

  .buscador-button{
    padding: 3%;
    background: #002042;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    margin: 15px 3px;
  }

   /* fin buscador*/