@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');

html {
    font-family: 'Lato', Arial, sans-serif !important;
    font-weight: normal
};

 h1, h2, h3, h4, h5, p{
    font-family: 'Lato', Arial, sans-serif !important;
}
/* css news*/

/*css card news*/
.news{
  margin: auto;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  width: 100%; /* Se adapta al contenedor */
  max-width: 1024px; /* Controla el tamaño máximo */
  height: 100%;
  background-color: #00204225;
}
.news:hover {
  transform: scale(1.03);
}
.news-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: start;
  padding: 2px;
}

.news-header {
  display: flex;
  justify-content: space-between; /* Espacio entre categoría y fecha */
  align-items: center;
  padding: 10px; /* Espaciado interno */
  background-color: #002042;
  color: #fff;
}

.news-left, .news-rigth {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.news-card-category {
  font-weight: bold;
}

.news-date {
  text-align: right;
  font-size: 14px;
  color: #fff;
}

.card-video {
  width: 100%;
  height: 180px;
  max-height: 300px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.card-imgNews {
  width: 100%;
  height: 180px;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.titleNews {
  font-size: 18px;
  font-weight: bold;
  color: #002042;
}

.titleNews:hover{
  font-size: 18px;
  font-weight: bold;
  color: #ff6500;
}

.subtitleNews {
  font-size: 16px;
  color: rgb(95, 95, 95);
}
/*fin css card news*/
/*fin css news*/

/* css news details*/
.detail-home{
  width: 98%;
  margin: auto;
}

.detail-news-content{
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: auto;
}
.detail-left-column{
  width: 74%;
  margin: 0px auto;
  margin-right: 10px;
}
.detail-right-column{
  width: 100%;
  max-width: 25%;
  height: 100vh;
  margin: 0px auto;
}
.detalleNoticia{
  border-bottom: #28139e 1px solid;
    width: 96%;
    margin: auto;
    padding-bottom: 5%;
}
.noticiaTitulo{
  font-size: 26px;
  color: #002042;
    font-weight: bolder;
    text-align: center;
    padding: 5px;
    margin: 10px;
}
.video{
      margin: auto; 
      display: flex;
      flex-direction: row;
      justify-content: space-around;
}
.noticiaSubtitulo{
  font-size: 18px;
    font-weight: bolder;
    margin: 15px 0 0 5px;
    text-align: justify;
    padding: 15px 3px;
}
.noticiaTexto{
  font-size: 16px;
    text-align: justify;
    padding: 5px 10px 45px 10px;
    margin: 5px 10px 5px 10px;
}
/*noticias relacionadas*/
.related-news-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
  gap: 15px;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  border-bottom: #002042 1px solid;
}
.noticia-container h3{
  color: #002042;
  border-bottom: #002042 1px solid;
}

.related-news-card {
  padding: 15px 8px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

.related-news-card:hover {
  transform: scale(1.03);
}

.related-news-card h4 {
  margin: 0;
  font-size: 1rem;
  color: #333;
}

.related-news-card p {
  font-size: 0.7rem;
  color: #666;
}
.related-news-video, .related-news-image{
  width: 100%;
  height: 100%;
  margin: auto;
  max-height: 65%;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Ajuste para pantallas más pequeñas */
@media (max-width: 1024px) {
  .related-news-container {
    grid-template-columns: repeat(4, 1fr); /* 2 columnas en pantallas medianas */
  }
}

@media (max-width: 600px) {
  .related-news-container {
    grid-template-columns: repeat(1, 1fr); /* 1 columna en móviles */
  }
}
/* fin noticias relacionadas*/
/* fin css news details*/

/*  css comentarios*/
.seccionComentarios{
    display: flex;
  justify-content: center;
  align-items:flex-start;
  margin: auto;
  flex-direction: column;
  margin-top: 100px;
  padding-top: 5px;
  padding-bottom: 20px;
  width: 100%;
}

.seccionComentarios h3{
    font-size: 15px;
  font-weight: 700;
  padding: 5px;
  margin-left: 2%;
}
.seccionComentarios section{
  width: 98%;
}
.seccionComentarios input {
    width: 30%;
    height: 30%;
    border-radius: 5px;
    margin-left: 20px;
  }
  .seccionComentarios input:hover {
    width: 350px;
    height: 30px;
    border-radius: 5px;
    outline: #28139e;
  }
  .seccionComentarios textarea {
    width: 450px;
    resize: none;
    margin: auto;
    margin-top: 20px;
  }
.seccionComentariosHechos{
    width: 98%;

}
.comentariosHechos{
    width: 100vh;
    max-width: 98%;
    margin: auto;
}
.seccionComentariosHechos h3 {
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    text-shadow: 1px 1px 2px gray;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
  }
  .seccionComentariosHechos h4 {
    font-size: 14px;
    font-weight: normal;
    text-shadow: 1px 1px 2px gray;
    margin-bottom: 1%;
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    margin-left: 1%;
  }
  .comentariosHechos p {
    width: 98%;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.167);
    backdrop-filter: blur(9px);
    margin: auto;
    font-size: 18px;
    font-weight: 700;
  }
  .containerComment {
    width: 100vh;
    max-width: 98%;
    border-radius: 10px;
    padding: 20px;
    backdrop-filter: blur(9px);
   margin: 5px 0px 5px 0px;
   background-color:#0020422f;
  }
  .sectionEscribirComentario {
    margin-top: 15px;
    padding-top: 8%;
    width: 100%;
    margin-bottom: 8%;
  }
  .sectionEscribirComentario h3 {
    text-decoration: underline;
  }
  .sectionEscribirComentario input {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .sectionEscribirComentario input:hover {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .sectionEscribirComentario label {
    display: flex;
    margin-left: 5%;
    width: 30%;
    height: 30%;
    padding-top: 2%;
  }
  .sectionEscribirComentario textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  .sectionEscribirComentario .enviarComentario button{
    padding: 10px;
    background:#002042;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  .sectionEscribirComentario .enviarComentario button:hover{
    background-color: #ff6500;
  }
/* fin css comentarios*/

/* -------------------------LOADER------------------------- */
  
.loader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 22%;
  }